# MongoDB ::
***************************

* Its cloud document database ::
    * Its store data on selvers on cloud.
    * Its NoSQL database which not include Tables and Relatinal among data 
* Its Attr ::
    * high Performance.
    * high Scalablity.
    * high Flexiablity.
* Its Support ::
    * detirmine range of quaries.
    * Big data and Real Time data.
    * Auto horizontal scalblity.
    * indexing
    * Regular Expression Search.
    * Searching based on Fields

In [11]:
# Import Mongoclient from pymongo package
from pymongo import MongoClient
# Connect MongoDB
client = MongoClient()
client = MongoClient("localhost" , 27017)
client = MongoClient("mongodb+srv://Ahmed:010@ahmed.m5qoq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [12]:
# define database
db = client.Company

In [13]:
# define posts func
posts = db.posts

In [14]:
# create the first post
post = {"name":"ShehaB" , "Position" : "Skak" , "Background" : "Hashesh"}

In [15]:
# insert single post in Mongo DB
res = posts.insert_one(post)
print(f"The Result :: {res.inserted_id}")

The Result :: 60f1cba23c5dbf34c7318d20

In [23]:
# Create Multiple Posts
post1 = {"name" : "Ahmed" ,
         "Position" : "Data Scientst" ,
         "Background" : "Computer Science"}
post2 = {"name" : "Tamer" ,
         "Position" : "Data Analysis" ,
         "Background" : "Computer Science"}
post3 = {"name" : "Nouran" ,
         "Position" : "Data Quality" ,
         "Background" : "Computer Science"}

In [24]:
# Insert Multiple Posts in Mongo Db
res = posts.insert_many([post1 , post2 , post3])

In [28]:
# find single record
results = posts.find_one({"name" : "Ahmed"})

print(f"The Record :; {results}")
print(f"The Emp_Id :: {results['_id']}")
print(f"The Emp_Name :: {results['name']}")
print(f"The Emp_Position :: {results['Position']}")
print(f"The Emp_Background :: {results['Background']}")
print("=" * 80)
print("=" * 80)

The Record :; {'_id': ObjectId('60f1cc823c5dbf34c7318d21'), 'name': 'Ahmed', 'Position': 'Data Scientst', 'Background': 'Computer Science'}
The Emp_Id :: 60f1cc823c5dbf34c7318d21
The Emp_Name :: Ahmed
The Emp_Position :: Data Scientst
The Emp_Background :: Computer Science
================================================================================
================================================================================

In [29]:
# find all records based on custom filter
results = posts.find({"name" : "Ahmed"})
for res in results :
    print(f"The Record :; {res}")
    print(f"The Emp_Id :: {res['_id']}")
    print(f"The Emp_Name :: {res['name']}")
    print(f"The Emp_Position :: {res['Position']}")
    print(f"The Emp_Background :: {res['Background']}")
    print("=" * 80)
    print("=" * 80)

The Record :; {'_id': ObjectId('60f1cc823c5dbf34c7318d21'), 'name': 'Ahmed', 'Position': 'Data Scientst', 'Background': 'Computer Science'}
The Emp_Id :: 60f1cc823c5dbf34c7318d21
The Emp_Name :: Ahmed
The Emp_Position :: Data Scientst
The Emp_Background :: Computer Science
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1ce5f3c5dbf34c7318d24'), 'name': 'Ahmed', 'Position': 'Data Scientst', 'Background': 'Computer Science'}
The Emp_Id :: 60f1ce5f3c5dbf34c7318d24
The Emp_Name :: Ahmed
The Emp_Position :: Data Scientst
The Emp_Background :: Computer Science
================================================================================
================================================================================

In [30]:
# find all records in MongoDb
results = posts.find({})
for res in results :
    print(f"The Record :; {res}")
    print(f"The Emp_Id :: {res['_id']}")
    print(f"The Emp_Name :: {res['name']}")
    print(f"The Emp_Position :: {res['Position']}")
    print(f"The Emp_Background :: {res['Background']}")
    print("=" * 80)
    print("=" * 80)

The Record :; {'_id': ObjectId('60f1cba23c5dbf34c7318d20'), 'name': 'ShehaB', 'Position': 'Skak', 'Background': 'Hashesh'}
The Emp_Id :: 60f1cba23c5dbf34c7318d20
The Emp_Name :: ShehaB
The Emp_Position :: Skak
The Emp_Background :: Hashesh
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1cc823c5dbf34c7318d21'), 'name': 'Ahmed', 'Position': 'Data Scientst', 'Background': 'Computer Science'}
The Emp_Id :: 60f1cc823c5dbf34c7318d21
The Emp_Name :: Ahmed
The Emp_Position :: Data Scientst
The Emp_Background :: Computer Science
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1cc823c5dbf34c7318d22'), 'name': 'Tamer', 'Position': 'Data Analysis', 'Background': 'Computer Science'}
The Emp_Id :: 60f1cc823c5dbf34c7318d22
The Emp_Name :: Tamer
The Emp_Position :: Data Analysis
The Emp_Background :: Computer Science
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1cc823c5dbf34c7318d23'), 'name': 'Nouran', 'Position': 'Data Quality', 'Background': 'Computer Science'}
The Emp_Id :: 60f1cc823c5dbf34c7318d23
The Emp_Name :: Nouran
The Emp_Position :: Data Quality
The Emp_Background :: Computer Science
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1ce5f3c5dbf34c7318d24'), 'name': 'Ahmed', 'Position': 'Data Scientst', 'Background': 'Computer Science'}
The Emp_Id :: 60f1ce5f3c5dbf34c7318d24
The Emp_Name :: Ahmed
The Emp_Position :: Data Scientst
The Emp_Background :: Computer Science
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1ce5f3c5dbf34c7318d25'), 'name': 'Tamer', 'Position': 'Data Analysis', 'Background': 'Computer Science'}
The Emp_Id :: 60f1ce5f3c5dbf34c7318d25
The Emp_Name :: Tamer
The Emp_Position :: Data Analysis
The Emp_Background :: Computer Science
================================================================================
================================================================================
The Record :; {'_id': ObjectId('60f1ce5f3c5dbf34c7318d26'), 'name': 'Nouran', 'Position': 'Data Quality', 'Background': 'Computer Science'}
The Emp_Id :: 60f1ce5f3c5dbf34c7318d26
The Emp_Name :: Nouran
The Emp_Position :: Data Quality
The Emp_Background :: Computer Science
================================================================================
================================================================================

In [41]:
# update single record 
res = posts.update_one({"name" : "Ahmed"} , {"$set" : {"Position" : "ML Engineering"}})

In [38]:
# update multiple record 
res = posts.update_many({"name" : "Nouran"} , {"$set" : {"Position" : "IOS DEVELOPER" ,"Background" :"Information Technology" }})

In [42]:
# delet single record 
res = posts.delete_one({"Position" : "Data Scientst"})

In [43]:
# delet multiple record 
res = posts.delete_many({"name" : "Shrouk Gamal"})